<script>
  import Header from '../components/Header.svelte';
  import Sidebar from '../components/sidebar/Sidebar.svelte';
  import './styles.css';
</script>

<div dir="rtl">
  <Header />

  <div
    class="container mx-auto flex flex-col-reverse gap-5 px-3 md:px-16 lg:px-28 md:flex-row py-6"
  >
    <Sidebar title="sidebar" />
    <main class="flex-1" id="content">
      <slot />
    </main>
  </div>
</div>
