<script>
  import Item from '../components/Item.svelte';
</script>

<svelte:head>
  <title>Home</title>
  <meta name="description" content="Svelte demo app" />
</svelte:head>

Home page
{#each { length: 3 } as _, i}
  <Item name="name" info="info">
    <a slot="image" href="/posts/olvy-3-0" aria-label="Olvy 3.0">
      <img
        loading="lazy"
        srcset="https://ph-files.imgix.net/a852d3e1-0302-4227-845d-894d82e14369.png?auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;auto=format&amp;w=40&amp;h=40&amp;fit=crop&amp;dpr=1 1x, https://ph-files.imgix.net/a852d3e1-0302-4227-845d-894d82e14369.png?auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;auto=format&amp;w=40&amp;h=40&amp;fit=crop&amp;dpr=2 2x, https://ph-files.imgix.net/a852d3e1-0302-4227-845d-894d82e14369.png?auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;auto=format&amp;w=40&amp;h=40&amp;fit=crop&amp;dpr=3 3x"
        src="https://ph-files.imgix.net/a852d3e1-0302-4227-845d-894d82e14369.png?auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;auto=format&amp;w=40&amp;h=40&amp;fit=crop"
        style="width: 40px; height: 40px;"
        alt="Olvy 3.0"
        class="styles_mediaThumbnail__NCzNO"
      />
    </a>
  </Item>
{/each}

<style>
</style>
