<script lang="ts">
  export let name: string;
  export let info: string;
</script>

<div class="my-2 flex flex-1 flex-row gap-2 py-2 sm:gap-4 items-center">
  <slot name="image" />
  <div class="flex flex-1 flex-col sm:mr-4">
    <div class="">
      <a href="/posts/olvy-3-0" data-test="post-name-463767">
        <div class="text-14 sm:text-16 md:text-16 font-normal text-dark-gray">
          <strong>{name}</strong> <span>—</span>
          {info}
        </div>
      </a>
    </div>
  </div>
  <button type="button" data-test="vote-button" class="">
    <div class="flex flex-col items-center gap-1">
      <ion-icon name="caret-up-outline"></ion-icon>
      <div class="text-12 font-semibold text-light-gray">293</div>
    </div>
  </button>
</div>
