<script context="module" lang="ts">
  export type SidebarItem = {};
</script>

<script lang="ts">
  export let title: string;
  export let titleInfo: string;
  export let subTitle: string;
  export let description: string;
</script>

<div class="flex flex-col gap-4 rounded border border-light-blue py-4 w-full">
  <div class="flex cursor-pointer flex-row gap-2 border-b border-light-blue px-4 pb-4">
    <slot name="image" />
    <div class="text-14 font-normal text-dark-gray">
      <strong>{title}</strong> - {titleInfo}
      <div class="font-normal">
        {subTitle}
      </div>
    </div>
  </div>
  <div class="text-14 font-normal text-light-gray cursor-pointer px-4">
    {description}
  </div>
</div>
