<script lang="ts">
  import SidebarCard from './SidebarCard.svelte';

  export let title: String;
</script>

<div class="flex flex-col min-w-80">
  <a
    class="text-12 font-semibold text-light-gray hover:text-coral uppercase styles_link__C4Fnb mb-4"
    href="/shoutouts"
  >
    {title}
  </a>

  <SidebarCard description="des" subTitle="sub" title="title" titleInfo="info" />
</div>
